%tr
  %td= reservation.location
  %td= reservation.bay_type
  %td= reservation.vehicle_registration
  %td= reservation.start.strftime("%H:%M")
  %td= reservation.duration
  -#%td= link_to 'Show', reservation
  -#%td= link_to 'Edit', edit_reservation_path(reservation)
  %td= link_to 'Cancel booking', reservation, method: :delete, data: { confirm: 'Are you sure?' }
