%p#notice= notice

%p
  %b Type:
  = @reservation.type
%p
  %b Vehicle registration:
  = @reservation.vehicle_registration
%p
  %b Start:
  = @reservation.start
%p
  %b Duration:
  = @reservation.duration

= link_to 'Edit', edit_reservation_path(@reservation)
\|
= link_to 'Back', reservations_path
