%p#notice= notice

%p
  %b Location:
  = @reservation.location
%p
  %b Bay type:
  = @reservation.bay_type
%p
  %b Vehicle registration:
  = @reservation.vehicle_registration
%p
  %b Start:
  = @reservation.start.strftime("%H:%M")
%p
  %b Duration:
  = @reservation.duration
.btn-group
  = link_to 'Edit', edit_reservation_path(@reservation), class: "btn btn-light active"

  = link_to 'Back', reservations_path, class: "btn btn-light active"
